.maindiv {
    position: fixed;
    bottom: 0;
    left: 0;
    color: #EED3D9;
    width: 100%;
    font-size: medium;
}

.innerdiv {
    margin: 0.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width : 500px) {
    .maindiv {
        position: fixed;
        bottom: 0;
        left: 0;
        color: #EED3D9;
        width: 100%;
        font-size: small;
    }
}