.main {
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    color: #EED3D9;
}
.maindiv {
    display: flex; 
    flex-direction: row; 
    margin: 0; 
    padding: 0;
}
.icon {
    margin: 2rem;
    border-radius: 14px; 
}
.main h1 {
    font-size: xx-large;
}

@media screen and (max-width : 500px) {
    .icon {
        margin: 0.5rem;
        border-radius: 14px; 
    }
    .main h1 {
        font-size: large;
    }
}